<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">

<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <img class="main-image" src="https://via.placeholder.com/830x383" alt="Placeholder Image"/>
    <div class="button-container button1">
        <div class="state-layer">
            <div class="icon-container">
                <div class="icon-inner"></div>
            </div>
            <div class="label-text">계획짜기</div>
        </div>
    </div>
    <div class="button-container button2">
        <div class="state-layer">
            <div class="label-text">관심여행지(1)</div>
        </div>
    </div>
    <div class="text-field-container">
        <div class="text-field">
            <div class="state-layer">
                <div class="content">
                    <div class="input-text">
                        <div class="text">Input</div>
                        <div class="caret"></div>
                    </div>
                    <div class="trailing-icon">
                        <div class="container">
                            <div class="state-layer">
                                <div class="icon">
                                    <div class="icon-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hint-container">
        <div class="state-layer">
            <div class="leading-icon">
                <div class="container">
                    <div class="state-layer">
                        <div class="icon">
                            <div class="icon-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="supporting-text">Hinted search text</div>
            </div>
            <div class="trailing-elements">
                <div class="st-trailing-icon">
                    <div class="container">
                        <div class="state-layer">
                            <div class="icon">
                                <div class="icon-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</div>
</html>
